<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="Triangle" class="org.vivek.springexample.Triangle" name="Triangle-name" autowire="byName">
		<!-- <property name="shape" value="VivekTriangleShape" /> -->
		<!-- <constructor-arg index="0" type="java.lang.String" value="Equilateral"/> -->
		<!-- <constructor-arg type="java.lang.Integer" value="10"/> -->
		<!-- <property name="points">
			<list>
				<ref bean="zeroPoint" />
				<ref bean="PointA" />
				<ref bean="PointB" />
			</list>
		</property> -->

	</bean>

	<bean id="pointA" class="org.vivek.springexample.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointB" class="org.vivek.springexample.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>


	<bean id="pointC" class="org.vivek.springexample.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<alias name="Triangle" alias="Triangle-Alias" />



</beans>