<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="Triangle" class="org.vivek.springexample.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>

	<bean id="Circle" class="org.vivek.springexample.Circle">
	
	</bean>


	<bean id="pointA" class="org.vivek.springexample.Point">
		<property name="x" value="${pointForA.X}" />
		<property name="y" value="${pointForA.Y}" />
	</bean>

	<bean id="pointB" class="org.vivek.springexample.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>


	<bean id="pointC" class="org.vivek.springexample.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="pointsconfig.properties" />
	</bean>

	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>


</beans>